.exchange_box{

  .card{
    border: 0;

    .card-header{
      background-color: #3366cc;
      border-radius: 0;
      color: white;
      font-weight: 700;
    }

    .card-block{
      padding-top: 10px;
      padding: 20px;

      .title{
        color: #3366cc;
        font-weight: 700;

      }

      #amount {
        width: 80%;
      }



      .btn-exchange{
        background: image-url("/inverter.jpg") no-repeat;
        border-color: #ffffff;
        border-radius: 0;
        width: 20%;
        height: 35px;
        float: right;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }

  .title{
    margin-top: 30px;
    font-size: 20px;
    }

  .form-group {

    select {
      font-size: 20px;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      height: 50px;
    }
  }


  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}
